[user]
        name = Yuta Kato
        email = yyttkktt@gmail.com
[color]
        ui = auto
[alias]
  ch = checkout
  co = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
        excludesfile = /Users/yuta/.gitignore
        editor = emacs
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
