.*~
*~
#/.emacs.d/*

#!/.emacs.d/init.el
#!/.emacs.d/conf
.emacs.d/elpa/archives

.emacs.d/undohist
.DS_Store### /Users/yuta/.gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*.dat

# Org-mode
.org-id-locations
*_archive
